html {
  font-family: "Fredoka One", sans-serif;
  border-top: 5px solid #b3fbff;
  border-bottom: 5px solid #b3fbff;
  background-image: repeating-linear-gradient(-35deg, #c9fcff, #d4fdff 2%)
}

section {
  display: flex;
}

h1 {
  transform: rotate(-10deg);
}

img {
  width: 10em;
}

p {
  max-width: 19em;
  transform: rotate(-10deg);
}

.text {
  position: relative;
  color: #c09
}

.btn {
  border-color: #990073;
  color: #c09;
}

.btn:hover {
  background-color: rgba(0, 0, 0, .5);
}

.btn-ghost {
  color: #990073;
}

.btn-ghost:hover {
  color: #fff;
}
